@import '~antd/dist/antd.css';
.main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.form {
    width: 100vw;
    min-height: 100vh;
}

/* Main */

.ant-carousel {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    font-size: 1em;
}

.ant-carousel a {
    color: #fff;
    font-size: 1.1em;
}

.ant-carousel a:hover {
    text-decoration: underline;
}

.ant-carousel .slick-vertical .slick-slide {
    border: none;
}

.slide-content {
    padding: 10% 20px 20px 20px;
    height: 100vh;
    /* background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.81) 0%, rgba(0, 0, 0, 0.35) 100%); */
    background-image: repeating-linear-gradient(45deg, rgba(33, 33, 33, 0.6), rgba(33, 33, 33, 0.6) 1px, rgba(0, 0, 0, 0.6) 1px, rgba(0, 0, 0, 0.6) 7px);
    overflow: hidden;
}

.ant-btn.ant-btn-ghost {
    opacity: 0.6;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.2em;
    height: 50px;
    font-family: 'HelveticaNeue-Light';
}

.dx-intouch div {
    margin-left: 1.2em;
    font-size: 1.1em;
}

.dx-intouch {
    padding-top: 40px;
    padding-bottom: 40px;
}

h1.header {
    color: #ffffff;
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 60px;
    line-height: 70px;
    max-width: 770px;
}

.dx-oracle-logo {
    margin-bottom: 33px;
}

.dx-slide-footer {
    position: absolute;
    left: 20px;
    bottom: 24px;
    color: #fff;
    opacity: 0.6;
    font-size: 1.15em;
    font-family: 'HelveticaNeue-Light';
}

.dx-logo-group img {
    height: 24px;
}

.dx-logo-group img:first-child {
    margin-right: 16px;
    height: 32px;
}

.ant-carousel .slick-slide .inline-group img {
    display: inline;
}

.ant-btn:hover,
.ant-btn:focus {
    border-color: #E43122;
}

/* Form */

.form-container {
    padding: 20px 60px 40px 20px;
}

.form-container h2 {
    font-family: 'HelveticaNeue-CondensedBlack';
    font-size: 60px;
    color: #3F4D5A;
    line-height: 60px;
}

.form-container h2 span {
    color: #E43122;
}

.dx-radio {
    display: block;
}

.ant-input {
    height: 60px;
    font-family: 'HelveticaNeue-Italic';
    font-size: 1.2em;
    line-height: 22px;
    border-radius: 0;
    /* color: #cccccc; */
}

.ant-form-item-label label {
    font-family: 'HelveticaNeue-Medium';
    font-size: 20px;
    color: #666666;
    line-height: 24px;
    white-space: normal;
    text-align: left;
}

.ant-form-item-label {
    text-align: left;
}

.dx-radio .ant-form label {
    font-family: 'HelveticaNeue';
    font-size: 16px;
    color: #666666;
    line-height: 22px;
}

.dx-radio {
    margin: 22px 0;
}

.ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-radio:hover .ant-radio-inner,
.ant-radio-focused .ant-radio-inner,
.ant-radio-checked:after,
.ant-radio-checked .ant-radio-inner {
    border-color: #E43122;
}

.ant-radio-inner:after {
    background-color: #E43122;
}

.ant-btn.submit-form-button {
    background-color: #3F4D5A;
    height: 60px;
    width: 247px;
    font-family: 'HelveticaNeue-Light';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 18px;
    border-radius: 0;
}

/* Hexagon */

.hexagon {
    height: 232px;
    width: 200px;
    padding: 50px;
    text-align: center;
    background-image: url('https://sedano.me/dx-oracle/assets/tile-hex-container.svg');
    font-size: 18px;
    font-family: 'HelveticaNeue-CondensedBold';
    color: #3F4D5A;
    line-height: 20px;
    cursor: pointer;
    flex: 0 0 200px;
    margin: -18px 12px;
}

.hexagon:hover {
    font-size: 20px;
    color: rgb(90, 63, 63);
}

.hexagon .text {
    padding-top: 20px;
}

.hex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
}

#shape4 {
    display: none;
}

#shape3,
#shape8 {
    visibility: hidden !important;
}

@media only screen and (max-width: 1140px) {
    #shape8 {
        visibility: visible !important;
    }
    #shape9 {
        visibility: hidden !important;
    }
}

@media only screen and (max-width: 768px) {
    #shape1 {
        display: none;
    }
    #shape4 {
        display: inline;
    }
    #shape3 {
        visibility: visible !important;
    }
    .hex-row:last-of-type {
        display: none;
    }
    .shapes {
        margin-top: 50px;
        margin-left: -70px;
        /* margin-right: 30px; */
    }
    .hexagon {
        margin: -50px -24px;
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
    h1.header {
        font-size: 32px;
        line-height: 38px;
    }
    .dx-oracle-logo {
        height: 60px;
    }
    .dx-intouch {
        padding-top: 17px;
        padding-bottom: 64px;
    }
    .dx-oracle-logo {
        margin-bottom: 16px;
    }
    .dx-logo-group img {
        height: 16px;
    }
    .dx-logo-group img:first-child {
        height: 24px;
    }
    .slide-content {
        padding-top: 60px;
    }
    .form-container {
        padding-top: 60px;
    }
    .ant-btn.submit-form-button {
        width: calc(100vw - 48px);
        max-width: 390px;
    }
}

/* Helpers */

.inline-group>* {
    display: inline;
}